@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset */


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100vw;
    background-color: #111;
    color: #bbb;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    font-family: "Lato", sans-serif;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a {
    list-style: none;
    text-decoration: none;

}

a {
    color: inherit;
}

/* Make images easier to work with */
img,
picture {
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Animation */
.contact_animation {
    object-fit: cover;
    animation: move 3s infinite ease alternate;
}

.home_animation {
    object-fit: contain;
    animation: move2 3s infinite ease alternate;
}

@keyframes move {
    from {
        transform: translateY(-15px);
    }

    to {
        transform: translateY(0px) scale(1.03);
    }
}


@keyframes move2 {
    from {
        transform: translateY(-15px);
    }

    to {
        transform: translateY(10px);
    }
}

/* Category */

.category_item {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.category_item:nth-child(2n) {
    flex-direction: row-reverse;

}